<div class="card-group">
    <div class="card" >
        <div class="card-body">
            <div class="card-title text-center">
                <h1>Work Experience</h1>
            </div>
            <div class="card-text">
                <!--OJ-->
                <div class="text-center">
                    <h4>OJ Electronics A/S, Sønderborg</h4>
                    <i>Software Developer</i> | <small class="text-small">March 2020 - Today</small>
                </div>
                I'm part of a DevOps team as a software developer. We develop cloud solutions with end-user applications for electric underfloor heating thermostats. In the cloud team, we work agile with Scrum, which at project / department level is surrounded by a waterfall-inspired process.
                <b>Software Design & Development</b>
                <ul>
                    <li>Developing backend microservices in C# .NET Core, Standard, Framework & ASP.NET Core</li>
                    <li>Developing web applications in TypeScript React + Redux & JavaScript + Html + CSS</li>
                    <li>Developing mobile applications in C# .NET Xamarin</li>
                    <li>Testing of above-mentioned developed software, mainly in the form of automated unit and integration tests</li>
                    <li>Design of the above developed applications in the form of UML diagrams made in Visio</li>
                    <li>Maintenance and support of existing cloud solutions with monitoring in Kibana</li>
                    <li>Version control with Git and Gitflow in TFS & Azure DevOps</li>
                    <li>CI / CD in TFS and Azure DevOps</li>
                </ul>
                <b>Software Process</b>
                <ul>
                    <li>Involved in conversion from waterfall based process to agile based process at project level</li>
                    <li>Working with Scrum internally in DevOps software, where I actively assist Scrum Master</li>
                    <li>Breakdown of requirements into smaller tasks and estimation of these tasks</li>
                    <li>Cross-functional teamwork through the project cycle from planning, to adapting milestones and building integrations between different components</li>
                </ul>

                <!--Danfoss-->
                <div class="text-center">
                    <h4>Danfoss Cooling Platform, Nordborg</h4>
                    <i>Software Developer Intern</i> | <small class="text-small">August 2019 - December 2019</small>
                </div>
                At Danfoss Cooling, I have been part of a DevOps team, where the primary tasks have been to maintain and further develop an internal system. This has been in connection with a data normalization project, which has given me insight into professional development and collaboration with other professionals. Hereby my understanding of agile development has been expanded as the work was done in a Scrum process.<br/>
                <b>Internship</b>
                <ul>
                    <li>Handling new requirements (new features)</li>
                    <li>Support for the existing product (bug fixes)</li>
                    <li>Architecture and design</li>
                    <li>Implementation</li>
                    <li>Software branching (Azure DevOps)</li>
                    <li>Continuous Integration / Continuous Deployment (CI/CD)</li>
                    <li>Quality assurance</li>
                    <li>Estimation and planning of own tasks</li>
                    <li>Ensure alignment with other Danfoss teams</li>
                </ul>
                <b>Exam project</b>
                <ul>
                    <li>Design and implementation of Azure SQL Database based on existing XML data</li>
                    <li>Development of software to transfer data from XML to Azure SQL Database</li>
                    <li>Design and Development of Web API as part of Microservice architecture for database interactions</li>
                </ul>

                <!--Folkehjem-->
                <div class="text-center">
                    <h4>Folkehjem, Aabenraa</h4>
                    <i>Serveringsmedarbejder</i> | <small class="text-small">October 2014 - July 2017</small><br/>
                    For most of my high school years, I worked as a serving staff in my spare time at Folkehjem in Aabenraa. Here I worked with various tasks such as washing dishes, kitchen help, serving and general maintenance of the establishment. This has given me experience in working together, especially under stressful conditions, and in keeping track of the work as a whole by finding work assignments myself without having to take orders from my boss. In addition, it has given me a good insight into being service-minded as well as being good at communicating with the customer to help them in the best possible way.
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title text-center">
                <h1>Education</h1>
            </div>
            <div class="card-text">
                <!--Datamatiker-->
                <div class="text-center">
                    <h4>Erhvervsakademiet Sydvest, Sønderborg</h4>
                    <i>Computer Science, AP Degree</i> | <small class="text-small">August 2017 - January 2020</small>
                </div>
                During my time as a Computer Science student, I have become acquainted with issues associated with the development of applications in various forms through exam assignments for each semester. In these I have been a member of differently composed groups, with fellow students of different nationality and mentality. This has taught me a lot about collaboration, whereby it has given me insight into project and team management as I have most often ended up having to keep track of the project as a whole.<br/>
                <b>C#, .NET Framework, Xamarin, ASP.NET</b>
                <ul>
                    <li>Development and Design of data-based applications</li>
                    <li>Full stack windows application implementations with WPF and SQL</li>
                    <li>Back End development of Web APIs</li>
                    <li>Front end development of mobile applications</li>
                </ul>
                <b>Java with JDBC</b>
                <ul>
                    <li>Development and Design of Full Stack applications</li>
                    <li>Backend development with JDBC to SQL</li>
                    <li>Frontend development with JavaFX</li>
                </ul>
                <b>Database, MSSQL, SQLite and MongoDB</b>
                <ul>
                    <li>Normalization of data based on domain</li>
                    <li>Design and implementation of databases for Full Stack systems</li>
                    <li>Development of Web API with Entity Framework for SQL Database</li>
                </ul>
                <b>Black- and White-Box Testing as well as Test Driven Development</b>
                <ul>
                    <li>Unit Testing using Moq Framework</li>
                    <li>Specification and Execution of Path and State Transition Testing</li>
                    <li>Design and development of systems based on test-driven development</li>
                </ul>
                <b>Angular, HTML, CSS, Java- og Typescript</b>
                <ul>
                    <li>Web development with API interactions</li>
                </ul>
                <b>Udviklingsprocesser</b>
                <ul>
                    <li>Waterfall</li>
                    <li>Scrum</li>
                    <li>Atern (I passed an unofficial dsdm atern foundation exam)</li>
                    <li>Unified Process</li>
                    <li>Extreme Programming</li>
                </ul>
                <!--Statsskolen-->
                <div class="text-center">
                    <h4>Statsskole, Aabenraa</h4>
                    <i>High School (Gymnasium STX)</i> | <small class="text-small">August 2014 - June 2017</small><br/>
                </div>
                Music course with the following courses on A level: Music, Danish, English, History and Mathematics.
            </div>
        </div>
    </div>
</div>