<div class="card-group">
    <div class="card">
        <div class="card-body">
            <div class="card-title text-center">
                <h1>Work Experience</h1>
            </div>
            <div class="card-text">
                <div class="text-center">
                    <small class="text-small">March 2020 - Today</small><br/>
                    <b>OJ Electronics A/S, Sønderborg</b> - <i>Software Developer</i> 
                </div>
                I'm part of a DevOps team as a software developer. We develop cloud solutions with end-user applications for electric underfloor heating thermostats. In the cloud team, we work agile with Scrum, which at project / department level is surrounded by a waterfall-inspired process.
                <b>Software Design & Development</b>
                <ul>
                    <li>Developing backend microservices in C# .NET Core, Standard, Framework & ASP.NET Core</li>
                    <li>Developing web applications in TypeScript React + Redux & JavaScript + Html + CSS</li>
                    <li>Developing mobile applications in C# .NET Xamarin</li>
                    <li>Testing of above-mentioned developed software, mainly in the form of automated unit and integration tests</li>
                    <li>Design of the above developed applications in the form of UML diagrams made in Visio</li>
                    <li>Maintenance and support of existing cloud solutions with monitoring in Kibana</li>
                    <li>Version control with Git and Gitflow in TFS & Azure DevOps</li>
                    <li>CI / CD in TFS and Azure DevOps</li>
                </ul>
                <b class="text-center">Software Process</b>
                <ul>
                    <li>Involved in conversion from waterfall based process to agile based process at project level</li>
                    <li>Working with Scrum internally in DevOps software, where I actively assist Scrum Master</li>
                    <li>Breakdown of requirements into smaller tasks and estimation of these tasks</li>
                    <li>Cross-functional teamwork through the project cycle from planning, to adapting milestones and building integrations between different components</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title text-center">
                <h1>Education</h1>
            </div>
            <div class="card-text"></div>
        </div>
    </div>
</div>