<div class="row">
    <div class="col">
        <img src="assets/Billede.jpg" class="card-img" alt="My face">
    </div>
    <div class="col">
        <h2 class="text-center header-text-bg-other mb-3">Introduction</h2>
        <div class="card" >
            <div class="card-body">
                <p class="card-text">
                    I am an all-round package who loves all aspects of modern development. I like to see all sides of the story in order to understand where everyone is coming from, as this for me is the most important aspect of teamwork. And in my opinion, you get nowhere without teamwork. <br/><br/>
                    I get very involved in the product I develop. My focus is always on finding the golden mean between making the code in the right way, while at the same time it becomes a solution that fulfills the customer's desire and becomes something they can be proud of. <br/><br/>
                    In addition to development, I place great emphasis on the surrounding process. Agile is something that has a special place in my heart, and I spend a lot of energy developing within agile and its principles. <br/> <br/>
                    The most important thing for me, however, is that I learn something and I will always somehow seek new knowledge to make me new experiences and get me to acquire new skills. <br/> 
                </p>
                <table class="table m-0">
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>Simon Nors Senger</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>Snorssenger@gmail.com</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>30260829</td>
                        </tr>
                        <tr>
                            <th>Birthday:</th>
                            <td>26th of August, 1997</td>
                        </tr>
                        <tr>
                            <th>Residence:</th>
                            <td>Nygade 50A 1.TH, 6200 Aabenraa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="" style="width: 49%;">
    <a class="btn github" href="https://github.com/Eb0nheart" target="_blank"><b>Github</b></a>
    <a class="btn linkedin" href="https://www.linkedin.com/in/simon-senger-398954168/" target="_blank"><b>LinkedIn</b></a>
    <table class="table">
        <tbody>
            <tr>
                <th>Danish</th>
                <td>Mother tongue</td>
            </tr>
            <tr>
                <th>English</th>
                <td>Fluent orally and in writing</td>
            </tr>
            <tr>
                <th>German</th>
                <td>Elementary skills orally and in writing</td>
            </tr>
        </tbody>
    </table>
</div>