<div class="row">
    <div class="col-sm">
        <img src="assets/Billede.jpg" class="card-img" alt="Picture of me">
            <div class="mt-1">
                <a class="btn github" href="https://github.com/Eb0nheart" target="_blank"><b>Github</b></a>
                <a class="btn linkedin" href="https://www.linkedin.com/in/simon-senger-398954168/" target="_blank"><b>LinkedIn</b></a>
            </div>
    </div>
    <div class="col">
        <h1>Introduction</h1>
        <p class="card-text">
            I am an all-round package who loves all aspects of modern development. I like to see all sides of the story in order to understand where everyone is coming from, as this for me is the most important aspect of teamwork. And in my opinion, you get nowhere without teamwork. <br/><br/>
            I get very involved in the product I develop. My focus is always on finding the golden mean between making the code in the right way, while at the same time it becomes a solution that fulfills the customer's desire and becomes something they can be proud of. <br/><br/>
            In addition to development, I place great emphasis on the surrounding process. Agile is something that has a special place in my heart, and I spend a lot of energy developing within agile and its principles. <br/> <br/>
            The most important thing for me, however, is that I learn something and I will always somehow seek new knowledge to make me new experiences and get me to acquire new skills. <br/> 
        </p>
        <div class="mb-2 mt-2"><b>Name:</b> Simon Nors Senger</div>
        <div class="mb-2 mt-2"><b>Email:</b> Snorssenger@gmail.com</div>
        <div class="mb-2 mt-2"><b>Phone:</b> 30260829</div>
        <div class="mb-2 mt-2"><b>Birthday:</b> 26th of August, 1997</div>
        <div class="mb-2 mt-2"><b>Residence:</b> Nygade 50A 1.TH, 6200 Aabenraa</div>
        <div class="mb-2 mt-2"><b>Danish:</b> Mother tongue</div>
        <div class="mb-2 mt-2"><b>English:</b> Fluent orally and in writing</div>
        <div class="mt-2"><b>German:</b> Elementary skills orally and in writing</div>
    </div>
</div>